name: TICS

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  tics-report:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt update
          python -m pip install --upgrade pip
          # pin tox to the current major version to avoid
          # workflows breaking all at once when a new major version is released.
          python -m pip install 'tox<5'

      - name: Test with tox
        run: tox --workdir /tmp/tox run --result-json report/tox.json -e test-all

      - name: Run TICS analysis
        uses: tiobe/tics-github-action@v3
        env:
          PATH: "/tmp/tox/test-all"
        with:
          mode: qserver
          project: smartctl-exporter-snap
          viewerUrl: https://canonical.tiobe.com/tiobeweb/TICS/api/cfg?name=default
          branchdir: ${{ github.workspace }}
          ticsAuthToken: ${{ secrets.TICSAUTHTOKEN }}
          installTics: true
